export(
"MakeNames","are","are_null","are_prob","as.numeric","assert.are",
"assert.is","dabsTd","est2list","get_groups","get_n.groups",
"get_null.groups","get_null.n.groups","get_simulated_W","is_any","is_err",
"is_error","is_unk","is_vide","length","lfdr.hats","lfdr.l1o","lfdr.lho",
"lfdr.lo","lfdr.mdl","lfdr.mdlo","lfdr.mle","make_labels",
"names","new_est.lfdrmle","nsize","rFUN_generator",
"sameAsX_names","simulated_W","vect2string","vectorized.dabsTd",
"ye.mle","[","is_prob"
)
exportMethods(
"as.numeric","is_prob","length","names","names<-","["
)
exportClasses(
"est.lfdrmle"
)
import(
"methods","stats"
)

